doctype html
html
    head
        title= "Inicio de Sesión"
        meta(charset="UTF-8")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin="anonymous")
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
        link(rel='stylesheet', href='/css/main.css')

    body.login.fondo
        block content
            h1.text-center#titulo Geolocalización de objetos móviles
        .wrapper
            .container
                .login-box
                    img.avatar(src="./../images/location.jpg" alt="Logo de la aplicación")
                    h1 Inicio de sesión
                    ul
                        if (typeof errors != 'undefined')
                            each error in errors
                                li #{error.message}
                    ul
                        if (typeof message != 'undefined')
                            li #{message}
                    ul 
                        if (messages.success_msg)
                            li #{messages.success_msg}
                    ul 
                        if (messages.error)
                            li #{messages.error}
                    form(action="/login" method="post")
                        label(for"email") Email de usuario
                        input(type="email" name="email" placeholder="Introduce el email")
                        label(for"password") Password
                        input(type="password" name="password" placeholder="Introduce el password")
                        input(type="submit" value="Log in")
                        a(href="/register") Registro de usuario