extends layout

block content
    div#toolbar.intro.container-fluid.col-md-12
        div.col-md-2.hidden-xs(style="padding:0px;") Geolocalización de objetos móviles
        div.col.md-8
        div.col.md-2#logout
            div Bienvenido #{user} 
                a(href="/logout") Logout
    .map#map
        #info
    #mouse-position
    //- if (typeof message != 'undefined')
    //-     .alert.alert-primary.alert-dismissible
    //-         button(type="button" class="close" data-dismiss="alert") &times;
    //-             div #{message}
    div(style="display: none;")
        #marker(title="Marker")
    a.toggleSettings(title='Panel Principal')
        i.fa.fa-bars
    a.toggleResults(title='Panel de Resultados')
        i.fa.fa-bars
    div#alerts
    div#tools
        header.logoHeader
            h3 Panel de búsqueda
        .panel.with-nav-tabs.panel-default
            .panel-heading
                ul.nav.nav-tabs
                    li.active
                        a#tab-vehicles(href='#tab_vehicles_results' data-toggle='tab') Objetos móviles/Vehículos
                    li
                        a#tab-drivers(href='#tab_drivers_results' data-toggle='tab') Portadores del objeto
                    li
                        a#tab-opciones(href='#tab_opciones' data-toggle='tab') Opciones
            .panel-body
                .tab-content
                    #tab_vehicles_results.tab-pane.fade.in.active
                        div.p-0.card-body
                            table.table-dashboard.mb-0.table.table-borderless.vehicles-table#tabla-vehiculos
                                thead.bg-light
                                    tr
                                        th Icono
                                        th Nº
                                        th Objeto/Portador
                                        th Velocidad
                                tbody#vehicles_results
                    #tab_drivers_results.tab-pane.fade
                        div#drivers_results
                    #tab_opciones.tab-pane.fade
                        div#opciones
                            div.group
                                h4 Crea nuevo Objeto Móvil
                                div.form-group
                                    button.btn.btn-primary.btn-block(type='button' title="Crea nuevo objeto" data-toggle="modal" data-target="#formVehicle") Crea nuevo objeto
                                h4 Crea nuevo Portador
                                div.form-group
                                    button.btn.btn-primary.btn-block(type='button' title="Crea nuevo portador" data-toggle="modal" data-target="#formDriver") Crea nuevo portador
                                h4 Crea relación Objeto-Portador Móvil
                                div.form-group
                                    button.btn.btn-primary.btn-block#btnRelacionObjetoPortador(type='button' title="Crea relación Objeto-Portador" data-toggle="modal" data-target="#formVehicleDriver") Objeto-Portador
    div#info-results
        header.logoHeader
            h3 Resultados
        .panel.with-nav-tabs.panel-default
            .panel-heading
                ul.nav.nav-tabs
                    li.active
                        a#tab-rutas(href='#tab_rutas' data-toggle='tab') Rutas
                    li
                        a#tab-info(href='#tab_info' data-toggle='tab') Información del objeto
            .panel-body
                .tab-content
                    #tab_rutas.tab-pane.fade.in.active
                        div.p-0.card-body
                            div#rutas_result
                    #tab_info.tab-pane.fade
                        div#info_result

    .btn-group-vertical(role="group" aria-label="Vertical button group")#buttons-group
        .btn-group(role="group" title="Capas Base del Mapa")
            button.btn.btn-default.dropdown-toggle#btnGroupVerticalDrop1(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                i.fa.fa-map
            ul.dropdown-menu(aria-labelledby="btnGroupVerticalDrop1" style="position: absolute; right: 3em; ")
                form
                    fieldset
                        legend Capas Base
                        label
                            input#pnoa(type="radio" name="capa_base" value="PNOA" checked)
                            label PNOA máxima actualidad
                        br
                        label
                            input#osm(type="radio" name="capa_base" value="OSM")
                            label Open Street Map
                        br
                    fieldset
                        legend Capas Auxiliares
                        label
                            input#americano(type="checkbox" name="capa_auxiliar" value="americano" )
                            label Americano serie B (1956-57)
                        //br
                        //label
                        //    input#interministerial(type="checkbox" name="capa_auxiliar" value="interministerial")
                        //    label Interministerial (1973-86)
                        br
                        label
                            input#olistat(type="checkbox" name="capa_auxiliar" value="olistat")
                            label OLISTAT (1997-1998)
                        br
                        label
                            input#sigpac(type="checkbox" name="capa_auxiliar" value="sigpac")
                            label SIGPAC (1997-2003)
                        br
                        label
                            input#pnoa2006(type="checkbox" name="capa_auxiliar" value="pnoa2006")
                            label PNOA (2006)
                        br
                        label
                            input#pnoa2009(type="checkbox" name="capa_auxiliar" value="pnoa2009")
                            label PNOA (2009)
                        br
                        label
                            input#pnoa2011(type="checkbox" name="capa_auxiliar" value="pnoa2011")
                            label PNOA (2011)
                        br
                        label
                            input#pnoa2014(type="checkbox" name="capa_auxiliar" value="pnoa2014")
                            label PNOA (2014)
                        br
                        label
                            input#IGNBaseOrto(type="checkbox" name="capa_auxiliar" value="IGNBaseOrto" checked)
                            label IGNBaseOrto
        button#btn-zoom-vehiculos.btn.btn-default(type="button" title="Zoom a objetos")
            i.fa.fa-search-location
        button#btn-mostrar-objetos.btn.btn-primary(type="button" title="Muestra/Oculta objetos")
            i.fa.fa-location-arrow
        button#btn-mostrar-colas.btn.btn-default(type="button" title="Muestra/Oculta colas")
            i.fa.fa-route
        button#btn-mostrar-rutas.btn.btn-default(type="button" title="Muestra/Oculta rutas")
            i.fa.fa-road

    p#warning(style='background:#f80; color:#fff; padding:.5em; display:none; float:left;')  Ugh! it&apos;s a bit long!
        br
        p "Try to go on searching..."
    p#notfound(style='background:#f80; color:#fff; padding:.5em; display:none; float:left;') Sorry, there is no route to go there!
    p#notfound0(style='background:#f80; color:#fff; padding:.5em; display:none; float:left;') You&apos;re allready there!
    p#result(style='background:#0b0; color:#fff; padding:.5em; display:none; position: absolute; right: 3em; top: 150px') Found it!
        br
        p "Distance:"
        span

    // Modal REGISTRAR objeto móvil
    #formVehicle.modal.fade(tabindex='-1' role='dialog' aria-labelledby='formVehicleLabel')
        .modal-dialog(role='document')
            .modal-content
                form(method="post" action="/createObject")
                    .modal-header
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myVehicleLabel.modal-title Registra Objeto Móvil
                    .modal-body
                        .form-group
                            label Tipo de Objeto
                            select.form-control(type="text" name="type")
                                option(value="Coche") Objeto
                                option(value="Coche") Coche
                                option(value="Furgoneta") Furgoneta
                                option(value="Camión") Camión
                                option(value="Bicicleta") Bicicleta
                                option(value="Motocicleta") Motocicleta
                                option(value="Scooter Eléctrico") Scooter Eléctrico
                        .form-group
                            label Matricula/ Código del objeto móvil
                            input.form-control(type="text" name="matricula")
                        .form-group
                            label Marca/ Descripción del objeto móvil
                            input.form-control(type="text" name="brand")
                        .form-group
                            label Modelo/ Propiedades del objeto móvil
                            input.form-control(type="text" name="model")
                    .modal-footer
                        button.btn.btn-default(type='button' data-dismiss='modal') Cerrar
                        input.btn.btn-primary(type='submit' value="Guardar")
    // Modal EDITAR objeto
    #editFormVehicle.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editFormVehicleLabel')
        .modal-dialog(role='document')
            .modal-content
                form(method="post" action="/editVehicle")
                    input(type="hidden" id="edit-vehicle-form-id" name="id")
                    .modal-header
                        button.close(type='button' data-dismiss='modal' aria-label='Cerrar')
                            span(aria-hidden='true') ×
                        h4#myEditVehicleLabel.modal-title Editar Objeto Móvil
                    .modal-body
                        .form-group
                            label Tipo de Objeto
                            input.form-control(type="text" name="type" id="edit-vehicle-form-type")
                        .form-group
                            label Matricula/ Código del objeto móvil
                            input.form-control(type="text" name="matricula" id="edit-vehicle-form-matricula")
                        .form-group
                            label Marca/ Descripción del objeto móvil
                            input.form-control(type="text" name="brand" id="edit-vehicle-form-brand")
                        .form-group
                            label Modelo/ Propiedades del objeto móvil
                            input.form-control(type="text" name="model" id="edit-vehicle-form-model")
                    .modal-footer
                        button.btn.btn-default(type='button' data-dismiss='modal') Close
                        input.btn.btn-primary(type='submit' value="Guardar")
    // Modal REGISTRAR Portador del objeto
    #formDriver.modal.fade(tabindex='-1' role='dialog' aria-labelledby='formDriverLabel')
        .modal-dialog(role='document')
            .modal-content
                form(method="post" action="/register")
                    .modal-header
                        button.close(type='button' data-dismiss='modal' aria-label='Cerrar')
                            span(aria-hidden='true') ×
                        h4#myDriverLabel.modal-title Registrar portador del objeto
                    .modal-body
                        .form-group
                            label Email*
                            input.form-control(type="email" name="email")
                        .form-group
                            label Contraseña*
                            input.form-control(type="password" name="password")
                        .form-group
                            label Nombre*
                            input.form-control(type="text" name="name")
                        .form-group
                            label Apellido
                            input.form-control(type="text" name="surname")
                        .form-group
                            label Fecha de nacimiento
                            input.form-control(type="date" name="birthdate")
                        .form-group
                            label Género
                            select.form-control(type="text" name="genre")
                                option(value="Masculino") Masculino
                                option(value="Femenino") Femenino
                        .form-group
                            label Número de móvil
                            input.form-control(type="tel" name="mobile_number")
                    .modal-footer
                        button.btn.btn-default(type='button' data-dismiss='modal') Cerrar
                        input.btn.btn-primary(type='submit' value="Guardar")
    // Modal EDIT Portador
    #editFormDriver.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editFormDriverLabel')
        .modal-dialog(role='document')
            .modal-content
                form(method="post" action="/editDriver")
                    input(type="hidden" id="edit-form-id" name="id")
                    .modal-header
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myEditDriverLabel.modal-title Editar Portador del objeto
                    .modal-body
                        .form-group
                            label Email*
                            input.form-control(type="email" name="email" id="edit-form-email")
                        .form-group
                            label Contraseña*
                            input.form-control(type="password" name="password" id="edit-form-password")
                        .form-group
                            label Nombre*
                            input.form-control(type="text" name="name" id="edit-form-name")
                        .form-group
                            label Apellido
                            input.form-control(type="text" name="surname" id="edit-form-surname")
                        .form-group
                            label Fecha de nacimiento
                            input.form-control(type="date" name="birthdate" id="edit-form-birthdate")
                        .form-group
                            label Género
                            input.form-control(type="text" name="genre" id="edit-form-genre")
                        .form-group
                            label Número de móvil
                            input.form-control(type="tel" name="mobile_number" id="edit-form-mobile_number")
                    .modal-footer
                        button.btn.btn-default(type='button' data-dismiss='modal') Close
                        input.btn.btn-primary(type='submit' value="Save")
    // Modal ADD Vehicle-Driver relation
    #formVehicleDriver.modal.fade(tabindex='-1' role='dialog' aria-labelledby='formVehicleDriverLabel')
        .modal-dialog(role='document')
            .modal-content
                form(method="post" action="/vehicleDriver")
                    .modal-header
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myVehicleDriverLabel.modal-title Establece relación Objeto-Portador
                    .modal-body
                        .form-group
                            label Portador
                            select.form-control#select_driver(type="text" name="id_driver")
                        .form-group
                            label Objeto Móvil
                            select.form-control#select_vehicle(type="text" name="id_vehicle")
                    .modal-footer
                        button.btn.btn-default(type='button' data-dismiss='modal') Close
                        input.btn.btn-primary(type='submit' value="Save")

    //form.flotante(method="post" action="/coords")
    //    .input-group.flex-nowrap.col-12
    //        .input-group-prepend
    //            span.input-group-text Id
    //        input(type="text" id='identifier' class="form-control" placeholder="Id")
    //    .input-group.flex-nowrap.col-12
    //        .input-group-prepend
    //            span.input-group-text Coo/positionrd X
    //        input(type="text" id='coord_x' class="form-control" placeholder="Coord X")
    //    .input-group.flex-nowrap.col-12
    //        .input-group-prepend
    //            span.input-group-text Coord Y
    //        input(type="text" id='coord_y' class="form-control" placeholder="Coord Y")
    //    .input-group.flex-nowrap.col-12
    //        .input-group-prepend
    //            span.input-group-text fecha
    //        input(type="text/javascript" id='fecha' class="form-control" placeholder="Fecha")
    //    input(type="submit" value="Send")
    script(type='text/javascript').
        //$(document).ready(function() {
        //import {dibujaPosicion} from '../routes/modules/common'
        // import TileWMS from 'https://github.com/openlayers/openlayers/blob/master/src/ol/source/TileWMS.js';
        /*
        const root = 'http://localhost:3000';
        // const root = 'https://avillena-pfg.herokuapp.com';
        */

        // Variables para seleccionar del desplegable objeto-portador
        var objetosJSON = {};
        var portadoresJSON = {};


        // Variable que alojará las entidades 'Vehicle' en JSON
        var vehiclesJSON = {};
        var numVehicles = 0;
        var ultimasPosicionesVehiculos = {};

        // Variable que alojará las entidades 'Driver' en JSON
        var driversJSON = {};
        var numDrivers = 0;

        // Vehículo seleccionado actual
        var currentVehicle = {};
        var ultimaFechaCurrentVehicle;
        var idCurrentVehicle;

        // Información a mostrar del objeto a través de un popup
        var info = $('#info');
        info.tooltip({
            animation: false,
            trigger: 'manual'
        });


        /**
        * Elements that make up the popup.
        */
        var container = document.getElementById('popup');
        var content = document.getElementById('popup-content');
        var closer = document.getElementById('popup-closer');


        /**
        * Create an overlay to anchor the popup to the map.
        */
        /*
        var overlay = new ol.Overlay({
            element: container,
            autoPan: true,
            autoPanAnimation: {
                duration: 250
            }
        });
        */
        /**
        * Add a click handler to hide the popup.
        * @return {boolean} Don't follow the href.
        */
        /*
        closer.onclick = function () {
            overlay.setPosition(undefined);
            closer.blur();
            return false;
        };
        */

        // The vector graph
        var graph = new ol.source.Vector({
            url: '/data/main_roads.geojson',
            format: new ol.format.GeoJSON()
        });
        listenerKey = graph.on('change', function () {
            if (graph.getState() == 'ready') {
                $('.loading').hide();
                ol.Observable.unByKey(listenerKey);
            }
        });
        var vector = new ol.layer.Vector({
            title: 'Graph',
            source: graph
        });

        // A layer to draw the result DIJSKTRA
        var result = new ol.source.Vector();

        var map = new ol.Map({
            target: 'map',
            controls: ol.control.defaults().extend([
                new ol.control.ScaleLine({
                    className: 'ol-scale-line',
                    target: document.getElementById('scale-line')
                })
            ]),
            layers: [pnoaWmts, osm, americano, interministerial, olistat, sigpac, pnoa2006, pnoa2009, pnoa2011, pnoa2014, IGNBaseOrto],
            //overlays: [overlay],
            //interactions: ol.interaction.defaults({altShiftDragRotate: false, pinchRotate: false}),
            view: new ol.View({
                //center: ol.proj.transform([#{lng},#{lat}], 'EPSG:4326', 'EPSG:3857'), zoom: 6
                center: ol.proj.fromLonLat([#{lng}, #{lat}]),
                zoom: 6
            })
        });


        //interaccion con el calendario
        //Establece configuración común para los dos calendarios
        var dateFormat = "yy/mm/dd";
        $(".datepicker").datepicker({
            firstDay: 1,
            dateFormat: "yy/mm/dd",
            dayNamesMin: ["DO", "LU", "MA", "MI", "JU", "VI", "SA"],
            monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
            onClose: lanzaPeticionFecha,
            changeYear: true
        });

        //Establede el datepicker para el elemento #from y hace que cuando se seleccione una fecha se establezca la fecha mínima para #to
        $("#fecha_desde").datepicker().on("change", function () {
            $("#fecha_hasta").datepicker("option", "minDate", getDate(this));
        });

        //Establede el datepicker para el elemento #to y hace que cuando se seleccione una fecha se establezca la fecha máxima para #from
        $("#fecha_hasta").datepicker().on("change", function () {
            $("#fecha_desde").datepicker("option", "maxDate", getDate(this));
        });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }

        // realiza la peticion GET al servidor para seleccionar
        function lanzaPeticionFecha() {
            var desde = $("#fecha_desde").val().split("/").join("")
            var hasta = $("#fecha_hasta").val().split("/").join("")

            if ((desde != "") && (hasta != "")) {
                peticion_http = new XMLHttpRequest();
                theUrl = ROOT + '/time/' + desde + '/' + hasta;

                peticion_http.open('GET', theUrl, true);
                peticion_http.send(null);
            }

            // Cambiar la simbología en función del día
            // https://viglino.github.io/ol-ext/examples/style/map.style.gpxline.html

            //Actualiza mapa
            //updateVehiclesPosition();

        }

        // establecer como fecha de registro a mostrar 'Hoy'
        function fechaRegistroHoy() {
            console.log('Lanzamiento de fechaRegistroHoy()')
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //Enero es 0
            var year = today.getFullYear();

            $("#fecha_desde").val(year + '/' + mm + '/' + dd);
            $("#fecha_hasta").val(year + '/' + mm + '/' + dd);

            lanzaPeticionFecha();
        }

        // TODO: eliminar al final
        // dibuja Point pasandole una geometria en geográficas
        function dibujaPosicion(coords) {
            var pointPos = new ol.geom.Point(toUtm(coords));
            var point = new ol.Feature({
                geometry: pointPos
            });

            var stylePoint = new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: [64, 200, 200, 0.5],
                    width: 1
                })
            });
            point.setStyle(stylePoint);

            vectorLayer.setSource(new ol.source.Vector());
            vectorLayer.getSource().addFeature(point);
        }

        //var view = new ol.View(map.getView());

        function toGeo(coords) {
            return ol.proj.transform(coords, 'EPSG:3857', 'EPSG:4326');
        }

        function toUtm(coords) {
            return ol.proj.transform(coords, 'EPSG:4326', 'EPSG:3857');
        }

        /**
        * Add a click handler to the map to render the popup.
        */
        /*
        map.on('singleclick', function (evt) {
            var coordinate = evt.coordinate;
            var hdms = toGeo(coordinate);

            content.innerHTML = '<p>Coordenadas:</p><code>' + hdms +
                '</code>';
            overlay.setPosition(coordinate);
        });

            */


        // Crea los elementos HTML para cada objeto
        function createVehicleHTMLelements() {
            var myItems = [], $vehicles_results = $('#vehicles_results');

            for (var i = 0; i < ultimasPosicionesVehiculos.features.length; i++) {
                var feature = ultimasPosicionesVehiculos.features[i].properties;
                var id = feature['id_vehicle'];
                var type = feature['vehicleType'];
                var available = feature['available'];
                var matricula = feature['matricula'];
                var velocidad = feature['speed'];

                // Comprueba si tiene geometría
                var geometry = ultimasPosicionesVehiculos.features[i].geometry;
                var activo = "";
                if(geometry!=null){
                    activo = "activo";
                }

                // Petición del portador asignado
                theUrlDriver = ROOT + '/driverByIdVehicle/' + id;
                var resDriverAssigned = JSON.parse(httpGet(theUrlDriver));
                var id_driver;
                if (resDriverAssigned.length == !0) {
                    var driver = resDriverAssigned[0];
                    id_driver = driver['id_driver'] + ': ' + driver['name'] + ' ' + driver['surname'];
                } else {
                    id_driver = 'No asignado.';
                }

                // Icono para el tipo de objeto asignado
                switch (type) {
                    case 'Coche':
                        type_icon = 'fa-car';
                        break;
                    case 'Furgoneta':
                        type_icon = 'fa-shuttle-van';
                        break;
                    case 'Camión':
                        type_icon = 'fa-truck';
                        break;
                    case 'Bicicleta':
                        type_icon = 'fa-bicycle';
                        break;
                    case 'Motocicleta':
                        type_icon = 'fa-motorcycle';
                        break;
                    case 'Scooter Eléctrico':
                        type_icon = 'fa-bolt';
                        break;
                    case 'Objeto':
                        type_icon = 'fa-cube';
                        break;
                    default:
                        type_icon = 'fa-question-circle'
                }


                // Crea elementos HTML para cada objeto
                myItems.push("" +
                    "<tr>" +
                    "<td class='align-items-center align-middle' title='Icono'>" +
                    // "<img class='list-thumbnail' src='/images/" + type_icon + "' width=\"50\">" +
                    "<i class='fa fa-4x " + type_icon + " " + activo + " list-thumbnail' width=\"50\">" +
                    "</td>" +
                    "<td class='align-middle' title='Número'>" + id + "</td>" +
                    "<td class='align-middle'>" +
                    "<div>" +
                    "<h4 class='mb-1 font-weight-semi-bold' title='Código del objeto/vehículo'>" + matricula + "</h4>" +
                    "<p class='mb-0' title='Portador del objeto'>" + id_driver + "</p>" +
                    "</div>" +
                    "</td>" +
                    "<td class='align-middle' title='Velocidad'>" + velocidad + " km/h</td>" +
                    "</tr>");
            }

            $('#vehicles_results').html(myItems.join(''));

            // hace visible el menu lateral de la información de cada objeto
            //$("#info-results").toggle();

            //console.log('vehiculos creados: ')
            //console.log(vehiclesJSON);

            updateFunctions();
        }

        // Ejecuta efecto 'slide'
        function conmutaPanelBusqueda() {
            // Ejecuta el efecto
            $("#panelbusqueda").toggle('drop', {}, 500);
        };

        // Establece el efecto del valor seleccionado desde el menú
        $("#botonmenu").click(function () {
            // Ejecuta el efecto
            conmutaPanelBusqueda();
        });

        // Muestra u oculta el menú principal
        $(".toggleSettings").click(function (event) {
            $("#tools").toggle();
        })

        // Muestra u oculta el menú principal
        $(".toggleResults").click(function (event) {
            $("#info-results").toggle();
        })

        // Llama a la función createVehicleHTMLelements() cada vez que se pulsa sobre la pestaña 'Objetos'
        $("#tab-vehicles").click(function () {
            //createVehicleHTMLelements();
        })

        // Llama a la función getDrivers() cada vez que se pulsa sobre la pestaña 'Portadores'
        $("#tab-drivers").click(function () {
            getDrivers();
        })


        // Crea una alerta
        function createAlert(message) {
            // Control
            var notification = new ol.control.Notification({});
            map.addControl(notification);
            notification.show(message);
        }

        // Función que dibuja la posición de la capa con el identificador especificado
        function drawCurrentIdPosition(id, layer, layerposition) {
            //console.log('dibujar posición del punto actual de la capa con id: ' + id);
            var vectorSource = layer.getSource();
            if (vectorSource != null) {
                var features = vectorSource.getFeatures();
                var points = features[0].getGeometry().getCoordinates();
                var last = points.length - 1;
                var coordinatesEnd = points[last];
                var endPoint = new ol.Feature(new ol.geom.Point(coordinatesEnd));
                var style = styles[layerposition - OFFSET_DOWN];
                endPoint.setStyle(style.endpoint);
                //console.log('layer.getVisible(): ' + layer.getVisible());
                vectorSource.addFeature(endPoint);
            } else {
                // muestra una alerta que indica si no hay posiciones registradas para el vhículo con id especificado
                createAlert('¡El vehicle id: ' + id + '  no tiene posiciones registradas!');
            }
        }

        function updateFunctions() {
            // Edita portador seleccionado
            $(".edit-driver").on('click', function () {
                // console.log('intentando editar un driver');
                $("#edit-form-id").val($(this).data('id'));
                $("#edit-form-name").val($(this).data('name'));
                $("#edit-form-surname").val($(this).data('surname'));
                $("#edit-form-birthdate").val($(this).data('birthdate'));
                $("#edit-form-genre").val($(this).data('genre'));
                $("#edit-form-mobile_number").val($(this).data('mobile_number'));
                $("#edit-form-email").val($(this).data('email'));
                $("#edit-form-password").val($(this).data('password'));

            });

            // Edita el objeto seleccionado
            $(".edit-vehicle").on('click', function () {
                $("#edit-vehicle-form-id").val($(this).data('id'));
                $("#edit-vehicle-form-type").val($(this).data('type'));
                $("#edit-vehicle-form-matricula").val($(this).data('matricula'));
                $("#edit-vehicle-form-brand").val($(this).data('brand'));
                $("#edit-vehicle-form-model").val($(this).data('model'));
            });

            // Borra portador por su 'id'
            $(".delete-driver").on('click', function () {
                var id = $(this).data('id');
                var url = '/deleteDriver/' + id;
                if (confirm('¿Eliminar portador con id:' + id + '?')) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (result) {
                            console.log('Borrando portador con id:' + id);
                            window.location.href = '/map';
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            });

            // Elimina objeto por su 'id'
            $(".delete-vehicle").on('click', function () {
                var id = $(this).data('id');
                var url = '/deleteVehicle/' + id;
                if (confirm('¿Eliminar objeto con id:' + id + '?')) {
                    // elimina portador a través de una petición DELETE
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (result) {
                            console.log('Borrando Vehiculo con id:' + id);
                            window.location.href = '/map';
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            });

            // Cuando se presiona el botón Objeto-Portadorrealiza peticion para saber objetos disponibles y conductores
            $("#btnRelacionObjetoPortador").click(function(){
                // Captura los vehículos
                objetosJSON = getVehicles();

                // Captura los portadores
                portadoresJSON = getPortadores();

                // Genera los portadores para seleccionarlos
                var portadoresHTML = "";
                for(var i=0; i < portadoresJSON.length; i++){
                    var id = portadoresJSON[i].id_driver;
                    var name = portadoresJSON[i].name
                    var surname = portadoresJSON[i].surname;
                    var email = portadoresJSON[i].email;
                    var available = portadoresJSON[i].available;

                    //- Solamente añade los que estén disponibles
                    if(available == true){
                        portadoresHTML = portadoresHTML.concat("<option value=" + id + ">[" + id + "] " + name + " " + surname + ", " + email + "</option>");
                    }
                }

                // Genera los objetos para seleccionarlos
                var objetosHTML = "";
                for(var i=0; i < objetosJSON.length; i++){
                    var id = objetosJSON[i].id_vehicle;
                    var type = objetosJSON[i].type;
                    var brand = objetosJSON[i].brand;
                    var model = objetosJSON[i].model;
                    var matricula = objetosJSON[i].matricula;
                    var available = objetosJSON[i].available;

                    //- Solamente añade los que estén disponibles
                    if(available == true){
                        objetosHTML = objetosHTML.concat("<option value=" + id + ">[" + id + "] " + type + ", " + brand + " " + model + ", " + matricula + "</option>");
                    }
                }


                var portadorItems = [];
                    portadorItems.push("" +
                        "<div>" +
                        portadoresHTML +
                        "</div>"
                    );

                var objetosItems = [];
                    objetosItems.push("" +
                        "<div>" +
                        objetosHTML +
                        "</div>"
                    );


                $("#select_driver").html(portadorItems.join(''));
                $("#select_vehicle").html(objetosItems.join(''));

            });
        }

        function limpiaFiltros() {
            $("#fecha_desde").val("");
            $("#fecha_hasta").val("");


            //Fechas por defecto
            var ahora = new Date();
            var fecha_ini = '20190901';  // fecha inicio 1 de septiembre de 2019
            var fecha_fin = '' + ahora.getFullYear() + (ahora.getMonth() + 1) + ahora.getDate();  // fecha hasta hoy

            peticion_http = new XMLHttpRequest();
            theUrl = ROOT + '/time/' + fecha_ini + '/' + fecha_fin;
            peticion_http.open('GET', theUrl, true);
            peticion_http.send(null);

        }

        $(document).ready(function () {
            // Crea estilos para los objetos
            vehiclesJSON = getVehicles();
            numVehicles = vehiclesJSON.length;

            // Obtiene los portadores y los objetos de la base de datos
            getDrivers();

            // Obtiene las últimas posiciones de todos los objetos y los dibuja en el mapa
            ultimasPosicionesVehiculos = obtienePosicionActualVehiculos(vehiclesJSON);

            //Crea la capa Vector para albergar las posiciones de los objetos
            creaCapaPosicionVehiculos();

            // Hace la petición para obtener las features de los vehiculos y los añade a la capa vehiclesLayer
            muestraPosicionVehiculos(ultimasPosicionesVehiculos);

            // hace zoom a los elementos
            zoomToFeature(vehiclesLayer.getSource());

            // Crea la capa para mostrar las colas de los objetos
            creaCapaColasVehiculos();

            // Crea la capa para mostrar las rutas de los objetos
            creaCapaRutasVehiculos();

            // Inicializa las capas de los objetos
            //initializeLayers();

            //console.log('Llamada a createVehicleHTMLelements()');
            createVehicleHTMLelements();

            // Funcionalidad al mover el cursor para mostrar info del objeto
            var selected = null;
            map.on('pointermove', function (e) {
                if (e.dragging) {
                    info.tooltip('hide');
                    return;
                }
                displayFeatureInfo(map.getEventPixel(e.originalEvent));

                /*
                // resaltar elemento al pasar el ratón
                if (selected !== null) {
                    selected.setStyle(undefined);
                    selected = null;
                }

                map.forEachFeatureAtPixel(e.pixel, function (f) {
                    selected = f;
                    f.setStyle(highlightStyle);
                    return true;
                });

                if (selected) {
                    console.log(selected.get('matricula'));
                } else {
                    console.log();
                }
            */

            });

            // Funcionalidad para abrir la barra de herramientas al pinchar cobre un objeto en el mapa
            map.on('click', function (e) {
                // displayFeatureInfo(evt.pixel);
                map.forEachFeatureAtPixel(e.pixel, function (f) {
                    selected = f;
                    });

                if (selected) {
                    var id = selected.get('id_vehicle');
                    console.log('id: ' + id);
                    $('#tabla-vehiculos tbody tr').each(function (index) {
                        var idElement = $(this).find("td[title='Número']").text();
                        // console.log(index + ": " + idElement);

                        if(idElement == id){
                            $(this).addClass('bg-success').siblings().removeClass('bg-success');
                            console.log('El elemento ' + idElement + ', es el buscado');

                            // Establece el objeto seleccionado como actual
                            seleccionaVehiculoActual(id);

                            // genera los elementos HTML con los resultados
                            createVehicleHTMLinfo();

                            // genera los elementos HTML con las rutas realizadas
                            createVehicleHTMLrutas();

                            // Si la capa de rutas tiene alguna entidad la elimina
                            if (routesLayer.getSource().getFeatures().length != 0) {
                                routesLayer.getSource().clear();
                                routesLayer.setVisible(false);

                                //Tambien apaga el botón de las rutas
                                if ($('#btn-mostrar-rutas').hasClass('btn-primary')) {
                                    $('#btn-mostrar-rutas').removeClass('btn-primary');
                                    $('#btn-mostrar-rutas').addClass('btn-default');
                                }
                            }

                            // Dibuja la cola de la ruta del vehiculo seleccionado
                            if (tailsLayer.getVisible() == false) {   // Si la capa de colas está apagada, la enciende
                                tailsLayer.setVisible(true);
                            }

                            muestraColaVehiculo(id);

                            // Hace zoom a la cola del objeto seleccionado
                            //zoomToFeature(tailsLayer.getSource());

                            // muestra el panel lateral con los resultados del objeto seleccionado
                            $("#info-results").show("blind", 500);

                            // Enciende el botón '#btn-mostrar-colas'
                            if ($('#btn-mostrar-colas').hasClass('btn-default')) {
                                $('#btn-mostrar-colas').removeClass('btn-default');
                                $('#btn-mostrar-colas').addClass('btn-primary');
                            }
                        }
                    })
                } else {
                console.log();
                }

                if($('#tools').css("display") == 'none'){
                    $('#tools').css("display","block");
                }

            });


            // lanza las peticiones en bucle cada 5 segundos
            setInterval(updatePosition, 5000);
            function updatePosition() {
                console.log('actualiza!');

                // obtiene ultimas posiciones de los objetos
                ultimasPosicionesVehiculos = obtienePosicionActualVehiculos(vehiclesJSON);

                // Actualiza las ultimas posiciones de los objetos
                muestraPosicionVehiculos(ultimasPosicionesVehiculos);

                // Actualiza las colas de los objetos
                if(currentVehicle.properties != undefined && tailsLayer.getVisible()==true){
                    muestraColaVehiculo(currentVehicle.properties.id_vehicle);
                };

                // Actualiza la ruta del objeto seleccionado
                if (currentVehicle.properties != undefined && ultimaFechaCurrentVehicle!=undefined && routesLayer.getVisible()==true) {
                    muestraRutaPorFecha(currentVehicle.properties.id_vehicle, ultimaFechaCurrentVehicle);
                };
            }

            // Funcionalidad Botones de Capa base
            $('input:radio[name=capa_base]').change(function () {
                if (this.value == 'PNOA') {
                    osm.setVisible(false);
                    pnoaWmts.setVisible(true);
                } else if (this.value == 'OSM') {
                    pnoaWmts.setVisible(false);
                    osm.setVisible(true);
                }
            });

            // Funcionalidad Botones de Capas auxiliares
            $('input:checkbox[name=capa_auxiliar]').change(function () {
                if (this.value == 'americano') {
                    if(document.getElementById("americano").checked){
                        // enciende la capa
                        americano.setVisible(true);
                    } else if(document.getElementById("americano").checked == false){
                        // apaga la capa
                        americano.setVisible(false);
                    }
                } else if (this.value == 'interministerial') {
                    if (document.getElementById("interministerial").checked) {
                        // enciende la capa
                        interministerial.setVisible(true);
                    } else if (document.getElementById("interministerial").checked == false) {
                        // apaga la capa
                        interministerial.setVisible(false);
                    }
                } else if (this.value == 'olistat') {
                    if (document.getElementById("olistat").checked) {
                        // enciende la capa
                        olistat.setVisible(true);
                    } else if (document.getElementById("olistat").checked == false) {
                        // apaga la capa
                        olistat.setVisible(false);
                    }
                } else if (this.value == 'sigpac') {
                    if (document.getElementById("sigpac").checked) {
                        // enciende la capa
                        sigpac.setVisible(true);
                    } else if (document.getElementById("sigpac").checked == false) {
                        // apaga la capa
                        sigpac.setVisible(false);
                    }
                } else if (this.value == 'pnoa2006') {
                    if (document.getElementById("pnoa2006").checked) {
                        // enciende la capa
                        pnoa2006.setVisible(true);
                    } else if (document.getElementById("pnoa2006").checked == false) {
                        // apaga la capa
                        pnoa2006.setVisible(false);
                    }
                } else if (this.value == 'pnoa2009') {
                    if (document.getElementById("pnoa2009").checked) {
                        // enciende la capa
                        pnoa2009.setVisible(true);
                    } else if (document.getElementById("pnoa2009").checked == false) {
                        // apaga la capa
                        pnoa2009.setVisible(false);
                    }
                } else if (this.value == 'pnoa2011') {
                    if (document.getElementById("pnoa2011").checked) {
                        // enciende la capa
                        pnoa2011.setVisible(true);
                    } else if (document.getElementById("pnoa2011").checked == false) {
                        // apaga la capa
                        pnoa2011.setVisible(false);
                    }
                } else if (this.value == 'pnoa2014') {
                    if (document.getElementById("pnoa2014").checked) {
                        // enciende la capa
                        // enciende la capa
                        pnoa2014.setVisible(true);
                    } else if (document.getElementById("pnoa2014").checked == false) {
                        // apaga la capa
                        pnoa2014.setVisible(false);
                    }
                } else if (this.value == 'IGNBaseOrto') {
                    if (document.getElementById("IGNBaseOrto").checked) {
                        // enciende la capa
                        IGNBaseOrto.setVisible(true);
                    } else if (document.getElementById("IGNBaseOrto").checked == false) {
                        // apaga la capa
                        IGNBaseOrto.setVisible(false);
                    }
                }
            });

            // Funcionalidad al hacer click en los botones del 'buttons-group'
            $('#btn-zoom-vehiculos').click(function(){
                //hace zoom a los objetos
                zoomToFeature(vehiclesLayer.getSource());
            })

            $('#btn-mostrar-objetos').click(function () {
                if ($(this).hasClass('btn-default')) {
                    $(this).removeClass('btn-default');
                    $(this).addClass('btn-primary');
                    // Enciende la capa vehiclesLayer
                    if (vehiclesLayer.getVisible() == false) {
                        vehiclesLayer.setVisible(true);
                    }

                } else {
                    $(this).removeClass('btn-primary');
                    $(this).addClass('btn-default');
                    // Apaga la capa vehiclesLayer
                    if(vehiclesLayer.getVisible() == true){
                        vehiclesLayer.setVisible(false);
                    }

                }
            })

            $('#btn-mostrar-colas').click(function () {
                toggleBtnMostrarColas();
            });

            $('#btn-mostrar-rutas').click(function () {
                toggleBtnMostrarRutas();
            });


            // Destello de la posición actual de los objetos visibles
            setInterval(blinkPoint, 500);
            function blinkPoint() {
                if (map.getLayers().getArray()[OFFSET_UP].getVisible() == true) {
                    if (map.getLayers().getArray()[OFFSET_UP].getOpacity() == 1) {
                        map.getLayers().getArray()[OFFSET_UP].setOpacity(0)
                        map.getLayers().getArray()[OFFSET_UP].getSource().refresh()
                    } else {
                        map.getLayers().getArray()[OFFSET_UP].setOpacity(1)
                        map.getLayers().getArray()[OFFSET_UP].getSource().refresh()
                    }
                }

                map.renderSync();

            }

            // Marca y selecciona el elemento de la tabla de objetos
            $('#tabla-vehiculos tbody tr').click(function () {
                $(this).addClass('bg-success').siblings().removeClass('bg-success');
                var id = $(this).find("td[title='Número']").text();
                console.log('id seleccionado: ' + id);

                // Establece el objeto seleccionado como actual
                seleccionaVehiculoActual(id);

                // genera los elementos HTML con los resultados
                createVehicleHTMLinfo();

                // genera los elementos HTML con las rutas realizadas
                createVehicleHTMLrutas();

                // Si la capa de rutas tiene alguna entidad la elimina
                if (routesLayer.getSource().getFeatures().length != 0) {
                    routesLayer.getSource().clear();
                    routesLayer.setVisible(false);

                    //Tambien apaga el botón de las rutas
                    if ($('#btn-mostrar-rutas').hasClass('btn-primary')) {
                        $('#btn-mostrar-rutas').removeClass('btn-primary');
                        $('#btn-mostrar-rutas').addClass('btn-default');
                    }
                }

                // Dibuja la cola de la ruta del vehiculo seleccionado
                if (tailsLayer.getVisible() == false) {   // Si la capa de colas está apagada, la enciende
                    tailsLayer.setVisible(true);
                }

                muestraColaVehiculo(id);

                // Hace zoom a la cola del objeto seleccionado
                zoomToFeature(tailsLayer.getSource());

                // muestra el panel lateral con los resultados del objeto seleccionado
                $("#info-results").show("blind", 500);

                // Enciende el botón '#btn-mostrar-colas'
                if ($('#btn-mostrar-colas').hasClass('btn-default')) {
                    $('#btn-mostrar-colas').removeClass('btn-default');
                    $('#btn-mostrar-colas').addClass('btn-primary');
                }

                console.log('Elemento seleccionado: ' + id);
            });

        });
